<script src="/socket.io/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/bower_components/jQuery.serializeObject/dist/jquery.serializeObject.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/bower_components/js-md5/build/md5.min.js"></script>
<script src="/bower_components/mustache.js/mustache.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js"></script>
<script src="/js/prism.js"></script>
