<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="description" content="CDS Server"/>
    <meta name="keywords" content="cds, server"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="version" content="{{version}}"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/style.css">

  {{> favicon}}
</head>

<body class="cds-authbkg">
<section class="container cds-authbox">
    <section class="row">
        <section class="col-lg-4 col-lg-offset-1">
            <h1 class="cds-logo">
                Cloud Studio Server
            </h1>
        </section>
        <section class="col-lg-4 cds-box col-lg-offset-1">
            <header class="cds-header">
                <h2>{{#block "header"}}{{/block}}</h2>
            </header>
            <section class="cds-content">
              {{{body}}}
            </section>
            <footer class="cds-footer">
              {{#block "footer"}}{{/block}}
            </footer>
        </section>
    </section>
</section>

{{> jsBase}}
<script src="/js/app.js"></script>
<script>
    $(document).on("submit", ".cds-basic-form", function submitBasicForm(e) {
        e.preventDefault();
        const url = $(this).attr('action');
        const data = $(this).serializeObject();
        $(".cds-errors").addClass("hidden");

        const redirect = function redirect() {
            $(window.location).attr('href', '/');
        };

        const errors = function errors(e) {
            if (e.responseJSON) {
                $(".cds-errors").text(e.responseJSON.message);
            } else {
                $(".cds-errors").text("Please check your username and password!");
            }
            $(".cds-errors").removeClass("hidden");
        };

        CDSApp.CDSReq.post(url, data, redirect, errors);
    });
</script>
</body>
</html>
