<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="description" content="CDS Server"/>
    <meta name="keywords" content="cds, server"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="version" content="{{version}}"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/style/prism.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/style.css">

  {{> favicon}}
</head>
<body>
<section class="container-fluid">
    <header class="row cds-app-header">
        <section class="col-lg-3 col-sm-5">
            <section class="cds-logo">
                Cloud Studio Server
            </section>
        </section>
        <section class="col-lg-5 col-sm-6 pull-right cds-profile">
            <ul>
                <li class="cds-name">{{ user.firstName }} {{ user.lastName }} ({{getRank user.rank}})</li>
                <li class="cds-image">
                    <img src="http://www.gravatar.com/avatar/{{hashMail user.email}}?s=60" alt="img"
                         class="img-circle"/>
                </li>
                <li class="cds-logout">
                    <a href="/auth/logout" class="btn btn-link" title="Logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </section>
    </header>
    <section class="row cds-app-mainblock">
        <section class="col-lg-3 col-sm-4 cds-sidebar">
            <ul class="cds-mainmenu">
                <li>
                    <a href="/dashboard" class="btn btn-link">
                        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
                    </a>
                </li>
                <li>
                    <a href="/my/projects" class="btn btn-link">
                        <span class="glyphicon glyphicon-book"></span> My Projects
                    </a>
                </li>
                <li>
                    <a href="/my/clones" class="btn btn-link">
                        <span class="glyphicon glyphicon-bookmark"></span> My Clones
                    </a>
                </li>
                <li>
                    <a href="/projects" class="btn btn-link">
                        <span class="glyphicon glyphicon-folder-open"></span> Public Projects
                    </a>
                </li>
              {{#isAdmin user}}
                  <li>
                      <a href="/projects/all" class="btn btn-link">
                          <span class="glyphicon glyphicon-folder-open"></span> All Projects
                      </a>
                  </li>
              {{/isAdmin}}
              {{#isAdmin user}}
                  <li>
                      <a href="/types" class="btn btn-link">
                          <span class="glyphicon glyphicon-hdd"></span> Project Types
                      </a>
                  </li>
                  <li>
                      <a href="/users" class="btn btn-link">
                          <span class="glyphicon glyphicon-book"></span> Users
                      </a>
                  </li>
                  <li>
                      <a href="/permissions" class="btn btn-link">
                          <span class="glyphicon glyphicon-list-alt"></span> Permissions
                      </a>
                  </li>
              {{/isAdmin}}
              {{#atLeast user rank="MANAGER"}}
                  <li>
                      <a href="/teams" class="btn btn-link">
                          <span class="glyphicon glyphicon-th"></span> Teams
                      </a>
                  </li>
              {{/atLeast}}
                <li>
                    <a href="/profile" class="btn btn-link">
                        <span class="glyphicon glyphicon-user"></span> Profile
                    </a>
                </li>
                <li>
                    <a href="/auth/logout" class="btn btn-link">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
            <section class="cds-copyright">
                2016 &copy; spark. All rights reserved. <br/>
                Version: {{version}}
            </section>
        </section>
        <section class="col-lg-9 col-sm-8 cds-container">
          {{{body}}}
        </section>
    </section>
</section>

{{> jsBase}}
<script src="/js/app.js"></script>
<script>
    const socket = io();
</script>
{{#block "pageScripts"}}

{{/block}}
</body>
</html>
