body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #282828;
  font-size: 10pt;
}
a {
  color: #787878;
}
a:hover {
  color: #1e71a7;
}
.cds-table {
  cursor: default;
}
.cds-authbkg .cds-authbox {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cds-authbkg .cds-authbox .cds-box {
  padding-bottom: 20px;
  border: 1px solid #ababab;
  background: #fafafa;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.cds-authbkg .cds-authbox .cds-logo {
  font-size: 22pt;
  color: #1e71a7;
  font-weight: 300;
  text-align: center;
  text-indent: -5000px;
  width: 350px;
  height: 281px;
  margin: auto;
  background: transparent url('../images/css.logo.png') no-repeat center center;
}
.cds-authbkg .cds-authbox h2 {
  text-align: center;
  font-weight: 400;
  font-size: 17pt;
}
.cds-app-header {
  padding-top: 10px;
  line-height: 75px;
  font-size: 14pt;
  margin-bottom: 25px;
}
.cds-app-header .cds-logo {
  font-size: 20pt;
  color: #1e71a7;
  font-weight: 300;
  margin-left: 20px;
}
.cds-app-header .cds-profile {
  text-align: right;
}
.cds-app-header .cds-profile ul {
  list-style: none;
}
.cds-app-header .cds-profile ul li {
  display: inline-block;
  cursor: default;
}
.cds-app-header .cds-profile .cds-name {
  margin-right: 10px;
}
.cds-app-header .cds-profile .cds-image img {
  width: 60px;
  height: 60px;
  border: 1px solid #ababab;
}
.cds-app-header .cds-profile .cds-logout a {
  font-size: 18pt;
  color: #ababab;
  text-decoration: none;
}
.cds-app-header .cds-profile .cds-logout a:hover {
  color: #1e71a7;
}
.cds-app-mainblock .cds-sidebar {
  margin-top: 5px;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 0 25px 0;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li a {
  color: #787878;
  text-decoration: none;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li a:hover {
  color: #1e71a7;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li .glyphicon {
  margin-right: 5px;
  text-align: center;
  width: 16px;
}
.cds-app-mainblock .cds-sidebar .cds-copyright {
  text-align: center;
}
.cds-app-mainblock .cds-container {
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
}
.cds-app-mainblock .cds-container h1,
.cds-app-mainblock .cds-container h2 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 300;
  padding-bottom: 8px;
}
.cds-app-mainblock .cds-container h1 {
  color: #1e71a7;
}
.cds-app-mainblock .cds-container h2 {
  color: #3a9c1c;
}
.cds-app-mainblock .cds-container .cds-box {
  margin-bottom: 25px;
}
.cds-app-mainblock .cds-container .cds-box .cds-box-meta {
  margin-top: 10px;
}
.cds-app-mainblock .cds-container .cds-box .cds-box-metaBtn {
  margin-bottom: 10px;
}
.cds-app-mainblock .cds-container .nav {
  margin-bottom: 20px;
}
.cds-userList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cds-userList li {
  margin-bottom: 5px;
  cursor: default;
}
.cds-userList li img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.cds-form .help-block {
  display: none;
}
#cds-list-projects .cds-name {
  width: 30%;
}
#cds-list-projects .cds-owner {
  width: 20%;
}
#cds-list-projects .cds-type {
  width: 15%;
}
#cds-list-projects .cds-developers {
  width: 10%;
}
#cds-list-projects .cds-actions {
  width: 25%;
}
.cds-aboutProject label {
  font-size: 10pt;
}
.cds-aboutProject .form-control-static {
  font-size: 12pt;
  vertical-align: middle;
}
.cds-aboutProject .cds-public {
  color: #3a9c1c;
}
.cds-aboutProject .cds-private {
  color: #dc0000;
}
.cds-aboutProject .cds-activitiesList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cds-aboutProject .cds-activitiesList li {
  margin-bottom: 15px;
}
.cds-aboutProject .cds-activitiesList img {
  border: 1px solid #ababab;
}
.cds-aboutProject .cds-activitiesList .cds-profile {
  display: inline-block;
}
.cds-aboutProject .cds-activitiesList .cds-text {
  display: inline-block;
  margin-left: 10px;
  cursor: default;
}
.cds-aboutProject #cds-list-files .cds-icon {
  width: 5%;
  text-align: center;
}
.cds-aboutProject #cds-list-files .cds-name {
  width: 48%;
}
.cds-aboutProject #cds-list-files .cds-modify {
  width: 20%;
}
.cds-aboutProject #cds-list-files .cds-size {
  width: 12%;
}
.cds-aboutProject #cds-list-files .cds-actions {
  width: 15%;
}
.cds-aboutProject #cds-list-files .cds-actions .btn {
  padding: 0 5px;
  border: 0px;
}
.cds-aboutProject #cds-filecontent {
  display: none;
}
.cds-aboutProject #cds-cloneButtons {
  display: none;
}
.cds-aboutProject #cds-openEditor {
  display: none;
}
.glyphicon-directory:before {
  content: "\e118";
}
.glyphicon-image:before {
  content: "\e060";
}
#cds-list-types .cds-name {
  width: 50%;
}
#cds-list-types .cds-logo {
  width: 15%;
}
#cds-list-types .cds-projects {
  width: 10%;
}
#cds-list-types .cds-actions {
  width: 25%;
}
#cds-list-types .cds-img {
  height: 75px;
}
#cds-list-users .cds-name {
  width: 40%;
}
#cds-list-users .cds-rank {
  width: 15%;
}
#cds-list-users .cds-projects {
  width: 10%;
}
#cds-list-users .cds-actions {
  width: 25%;
}
#cds-list-teams .cds-name {
  width: 40%;
}
#cds-list-teams .cds-rank {
  width: 25%;
}
#cds-list-teams .cds-members {
  width: 10%;
}
#cds-list-teams .cds-actions {
  width: 25%;
}
#cds-list-permissions .cds-base {
  width: 15%;
}
#cds-list-permissions .cds-module {
  width: 20%;
}
#cds-list-permissions .cds-section {
  width: 20%;
}
#cds-list-permissions .cds-permission {
  width: 30%;
}
#cds-list-permissions .cds-value {
  width: 15%;
}
