{{!< ../project}}
<section class="row cds-aboutProject">
    <section class="col-lg-12">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>
                    Contributors
                  {{#canEdit project.owner.id user}}
                      <button class="btn btn-primary" title="Add" data-toggle="modal"
                              data-target="#contributorAdd">
                          <span class="glyphicon glyphicon-plus"></span> Add Contributor
                      </button>
                  {{/canEdit}}
                </h2>
            </header>
          {{#if project.team}}
              <section class="cds-box-meta">
                  <section class="form-group">
                      <label>Team</label>
                      <p class="form-control-static">
                        {{ project.team.name }}
                      </p>
                  </section>
              </section>
          {{/if}}
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-contributors">
                    <thead>
                    <tr>
                        <th class="cds-name">Full Name</th>
                        <th class="cds-username">Username</th>
                        <th class="cds-type">Type</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each clones}}
                        <tr id="clone-{{id}}">
                            <td class="cds-name">
                              {{user.firstName}} {{user.lastName}}
                            </td>
                            <td class="cds-name">
                              {{user.username}}
                            </td>
                            <td class="cds-type">
                              {{getRank user}}
                            </td>
                            <td class="cds-actions">
                                <section class="btn-group">
                                  {{#allowedEdit ../project.owner.id ../user "css.ui.project.contributors"}}
                                    {{#ifNotEq ../project.owner.id user.id}}
                                        <button class="btn btn-danger cds-delete" title="Delete"
                                                data-api-id="{{id}}"
                                                data-api-path="clone">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {{/ifNotEq}}
                                  {{/allowedEdit}}
                                </section>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
<section class="modal fade" tabindex="-1" role="dialog" id="contributorAdd">
    <form action="" method="POST" class="cds-form"
          data-api-path="clone"
          data-api-callback="refreshScreen">
        <section class="modal-dialog">
            <section class="modal-content">
                <section class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Contributor adding</h4>
                </section>
                <section class="modal-body">
                    <input type="hidden" name="projectID" value="{{project.id}}"/>
                    <label>User:</label>
                    <select name="userID" id="contributorID" class="form-control">
                      {{#each users}}
                          <option value="{{id}}">
                            {{firstName}} {{lastName}} ({{username}})
                          </option>
                      {{/each}}
                    </select>
                </section>
                <section class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Contributor</button>
                </section>
            </section>
        </section>
    </form>
</section>
