{{!< general}}
{{#contentFor "title"}}New Project{{/contentFor}}
<section class="row cds-aboutProject">
    <form action="" method="POST" class="cds-form"
          data-api-path="project"
          data-api-callback="redirectToProjectID">
        <section class="col-lg-6">
            <section class="cds-box">
                <header class="cds-box-header">
                    <h2>Basic information</h2>
                </header>
                <section class="cds-box-content">
                    <section class="form-group">
                        <label>Project Name</label>
                        <input type="text" name="name" placeholder="name" id="name" class="form-control"
                               value="{{ project.name }}"/>
                    </section>
                    <section class="form-group">
                        <label>Owner</label>
                        <input type="hidden" name="ownerID" value="{{user.id}}"/>
                        <p class="form-control-static">
                          {{ user.username }}
                        </p>
                    </section>
                    <section class="form-group">
                        <label>Team</label>
                        <p class="form-control-static">
                          {{#if project.team}}
                            {{ project.team.name }}
                          {{else}}
                              -
                          {{/if}}
                        </p>
                    </section>
                    <section class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" placeholder="description" id="description"
                               class="form-control"
                               value="{{ project.description }}"/>
                    </section>
                </section>
            </section>
        </section>
        <section class="col-lg-6">
            <section class="cds-box">
                <header class="cds-box-header">
                    <h2>Extended info</h2>
                </header>
                <section class="cds-box-content">
                    <section class="form-group">
                        <label>Project Type</label>
                        <select name="typeID" id="type" class="form-control">
                          {{#each types}}
                              <option value="{{id}}">
                                {{name}}
                              </option>
                          {{/each}}
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Docker Port</label>
                        <input type="number" name="docker" placeholder="docker port" id="dockerPort"
                               class="form-control"
                               min="0" max="65000" step="1"
                               value="{{ project.docker }}"/>
                    </section>
                    <section class="form-group">
                        <label>Visibility</label>
                        <select name="restricted" id="restricted" class="form-control">
                            <option value="0">public</option>
                            <option value="1">private</option>
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Repository</label>
                        <input type="text" name="repository" placeholder="repository" id="repository"
                               class="form-control"
                               value="{{ project.repository }}"/>
                    </section>
                    <section class="form-group">
                        <label>Repository type</label>
                        <select name="repositoryType" id="repositoryType" class="form-control">
                            <option value="local">local</option>
                            <option value="git">git</option>
                            <option value="hg">hg</option>
                        </select>
                    </section>
                    <section class="form-group">
                        <a href="." class="btn btn-danger">
                            <span class="fa fa-times"></span> Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-save"></span> Save
                        </button>
                    </section>
                </section>
            </section>
        </section>
    </form>
</section>
{{#contentFor "pageScripts"}}
    <script>
        function redirectToProjectID(data) {
            $(location).attr('href', `/projects/${data.id}`);
        }
    </script>
{{/contentFor}}
