{{!< ../project}}
<section class="row cds-aboutProject">
    <form action="" method="PUT" class="cds-form"
          data-api-path="project"
          data-api-id="{{project.id}}"
          data-api-callback="refreshScreen">
        <section class="col-lg-6">
            <section class="cds-box">
                <header class="cds-box-header">
                    <h2>Basic information</h2>
                </header>
                <section class="cds-box-content">
                    <section class="form-group">
                        <label>Project Name</label>
                        <input type="text" name="name" placeholder="name" id="name" class="form-control"
                               value="{{ project.name }}"/>
                    </section>
                    <section class="form-group">
                        <label>ID</label>
                        <p class="form-control-static">
                          {{ project.id }}
                        </p>
                    </section>
                    <section class="form-group">
                        <label>Owner</label>
                        <select name="ownerID" id="owner" class="form-control">
                          {{#each users}}
                              <option value="{{id}}"
                                      {{#ifEq ../project.owner.id id}}selected{{/ifEq}}>
                                {{firstName}} {{lastName}} ({{username}})
                              </option>
                          {{/each}}
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Team</label>
                        <select name="teamID" id="team" class="form-control">
                            <option value="0">
                                -- No Team --
                            </option>
                          {{#each teams}}
                              <option value="{{id}}"
                                      {{#ifEq ../project.team.id id}}selected{{/ifEq}}>
                                {{name}}
                              </option>
                          {{/each}}
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" placeholder="description" id="description"
                               class="form-control"
                               value="{{ project.description }}"/>
                    </section>
                </section>
            </section>
        </section>
        <section class="col-lg-6">
            <section class="cds-box">
                <header class="cds-box-header">
                    <h2>Extended info</h2>
                </header>
                <section class="cds-box-content">
                    <section class="form-group">
                        <label>Project Type</label>
                        <select name="typeID" id="type" class="form-control">
                          {{#each types}}
                              <option value="{{id}}"
                                      {{#ifEq ../project.type.id id}}selected{{/ifEq}}>
                                {{name}}
                              </option>
                          {{/each}}
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Docker Port</label>
                        <input type="number" name="docker" placeholder="docker port" id="dockerPort"
                               class="form-control"
                               min="0" max="65000" step="1"
                               value="{{ project.docker }}"/>
                    </section>
                    <section class="form-group">
                        <label>Visibility</label>
                        <select name="restricted" id="restricted" class="form-control">
                            <option value="0">public</option>
                            <option value="1" {{#if project.restricted}}selected{{/if}}>private</option>
                        </select>
                    </section>
                    <section class="form-group">
                        <label>Repository</label>
                        <input type="text" name="repository" placeholder="repository" id="repository"
                               class="form-control"
                               value="{{ project.repository }}"/>
                    </section>
                    <section class="form-group">
                        <label>Repository type</label>
                        <select name="repositoryType" id="repositoryType" class="form-control">
                            <option value="local">local</option>
                            <option value="git" {{#ifEq project.repositoryType "git"}}selected{{/ifEq}}>git</option>
                            <option value="hg" {{#ifEq project.repositoryType "hg"}}selected{{/ifEq}}>hg</option>
                        </select>
                    </section>
                    <section class="form-group">
                        <a href="." class="btn btn-danger">
                            <span class="fa fa-times"></span> Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-save"></span> Save
                        </button>
                    </section>
                </section>
            </section>
        </section>
    </form>
</section>
