{{!< general}}
{{#contentFor "title"}}
    List {{#if clones}}Clones{{else}}Projects{{/if}}
{{/contentFor}}
<h1>
    List
  {{#if clones}}
      Clones
  {{else}}
      Projects
    {{#isAllowed "css.ui.project.new" user}}
        <a href="/projects/create" class="btn btn-primary" title="Add">
            <span class="glyphicon glyphicon-plus"></span> Add Project
        </a>
    {{/isAllowed}}
  {{/if}}
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-projects">
                    <thead>
                    <tr>
                        <th class="cds-name">Name</th>
                        <th class="cds-owner">Owner</th>
                        <th class="cds-type">Type</th>
                        <th class="cds-developers">Devs</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each projects}}
                        <tr id="project-{{id}}">
                            <td class="cds-name">
                              {{name}}
                              {{#if restricted}}
                                  (private)
                              {{/if}}
                            </td>
                            <td class="cds-owner">
                              {{owner.username}}
                            </td>
                            <td class="cds-type">
                              {{type.name}}
                            </td>
                            <td class="cds-developers">
                              {{clones.length}}
                            </td>
                            <td class="cds-actions">
                                <section class="btn-group">
                                    <a href="/projects/{{id}}" class="btn btn-success"
                                       tilte="View">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                    <a href="/projects/{{id}}/files" class="btn btn-primary"
                                       tilte="Sources">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                  {{#if ../canClone}}
                                    {{#isAllowed "css.api.clone.create" ../user}}
                                        <button class="btn btn-default cds-clone" title="Clone"
                                                data-api-userID="{{../user.id}}"
                                                data-api-projectID="{{id}}"
                                                data-api-path="clone/try">
                                            <span class="glyphicon glyphicon-copy"></span>
                                        </button>
                                    {{/isAllowed}}
                                  {{/if}}
                                  {{#allowedEdit owner.id ../user "css.ui.project.edit"}}
                                    {{#if ../engine.app.editor}}
                                        <a href="/editor/project/{{id}}" class="btn btn-default"
                                           tilte="Editor" target="_blank">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                        </a>
                                    {{/if}}
                                      <a href="/projects/{{id}}/edit" class="btn btn-warning"
                                         tilte="Edit">
                                          <span class="glyphicon glyphicon-edit"></span>
                                      </a>
                                      <button class="btn btn-danger cds-delete" title="Delete"
                                              data-api-id="{{id}}"
                                              data-api-path="project">
                                          <span class="glyphicon glyphicon-remove"></span>
                                      </button>
                                  {{/allowedEdit}}
                                </section>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
{{#contentFor "pageScripts"}}
    <script>
        $(document).on("click", ".cds-clone", function createClone(e) {
            e.preventDefault();
            const path = $(this).data('apiPath');
            const userID = $(this).data('apiUserid');
            const projectID = $(this).data('apiProjectid');

            $.ajax({
                data: {
                    userID: userID,
                    projectID: projectID
                },
                dataType: 'json',
                method: "POST",
                url: apiPath(path),

                error: CDSApp.errorFunction,
                success: refreshScreen
            });
        });
    </script>
{{/contentFor}}
