{{!< ../project}}
<section class="row cds-aboutProject">
    <section class="col-lg-6">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>Basic information</h2>
            </header>
            <section class="cds-box-content">
                <section class="form-group">
                    <label>Project Name</label>
                    <p class="form-control-static">
                      {{ project.name }}
                    </p>
                </section>
                <section class="form-group">
                    <label>ID</label>
                    <p class="form-control-static">
                      {{ project.id }}
                    </p>
                </section>
                <section class="form-group">
                    <label>Owner</label>
                    <p class="form-control-static">
                      {{ project.owner.username }}
                    </p>
                </section>
                <section class="form-group">
                    <label>Team</label>
                    <p class="form-control-static">
                      {{#if project.team}}
                        {{ project.team.name }}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Description</label>
                    <p class="form-control-static">
                      {{#if project.description}}
                        {{{ project.description }}}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
            </section>
        </section>
    </section>
    <section class="col-lg-6">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>Extended info</h2>
            </header>
            <section class="cds-box-content">
                <section class="form-group">
                    <label>Project Type</label>
                    <p class="form-control-static">
                      {{ project.type.name }}
                    </p>
                </section>
                <section class="form-group">
                    <label>Docker Port</label>
                    <p class="form-control-static">
                      {{#if project.docker}}
                        {{ project.docker }}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Visibility</label>
                    <p class="form-control-static cds-visibility {{#if project.restricted}}cds-private{{else}}cds-public{{/if}}">
                      {{#if project.restricted}}
                          <span class="glyphicon glyphicon-lock"></span> private
                      {{else}}
                          <span class="glyphicon glyphicon-globe"></span> public
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Repository</label>
                    <p class="form-control-static">
                      {{#if project.repository}}
                          <a href="{{project.repository}}" target="_blank">
                            {{project.repository}}
                          </a>
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Repository type</label>
                    <p class="form-control-static">
                      {{#if project.repositoryType}}
                        {{project.repositoryType}}
                      {{else}}
                          Cloud Studio Managed
                      {{/if}}
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>
