{{!< ../project}}
<section class="row cds-aboutProject">
    <section class="col-lg-12">
        <section class="cds-box">
            <header class="cds-box-header">
                <section class="form-inline">
                    <select id="cds-repository" class="form-control">
                        <option value="">Main Repository</option>
                      {{#each clones}}
                          <option value="{{id}}"
                                  {{#ifEq ../user.id user.id}}data-own="true"{{/ifEq}}>
                            {{user.username}}'s Clone
                          </option>
                      {{/each}}
                    </select>
                    <section class="btn-group" id="cds-cloneButtons">
                      {{#ifEq project.repositoryType "local"}}
                        {{>cdsfs this}}
                      {{/ifEq}}
                    </section>
                    <section class="btn-group pull-right">
                        <a href="javascript:void(0);" class="btn btn-primary" id="cds-openEditor">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-success" id="cds-refreshScreen">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    </section>
                </section>
            </header>
            <section class="cds-box-meta">
                <ol class="breadcrumb" id="cds-folderCrumb">
                    <li data-isHome="true">
                        <a href="javascript:void(0)" data-path="/">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                </ol>
            </section>
            <section class="cds-box-content" id="cds-filelist">
                <table class="table cds-table table-responsive table-striped table-hover"
                       id="cds-list-files">
                    <thead>
                    <tr>
                        <th class="cds-icon">&nbsp;</th>
                        <th class="cds-name">Name</th>
                        <th class="cds-modify">Modified</th>
                        <th class="cds-size">Size</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">Loading...</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section class="cds-box-content" id="cds-fileContent">

            </section>
        </section>
    </section>
</section>
{{#contentFor "pageScripts"}}
    <script type="template/mustache" id="cds-pathHome">
        <li data-isHome="true">
            <a href="javascript:void(0)" data-path="/">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </li>
    </script>
    <script type="template/mustache" id="cds-pathTemplate">
        <li>
            <a href="javascript:void(0)" data-path="\{{fullPath}}">
              \{{name}}
            </a>
        </li>
    </script>
    <script type="template/mustache" id="cds-elementTemplate">
        <tr>
            <td class="cds-icon">
                <span class="glyphicon glyphicon-\{{type}}"></span>
            </td>
            <td class="cds-name">
                <a href="javascript:void(0);" class="cds-element-link"
                   data-parent="\{{parent}}"
                   data-path="\{{name}}"
                   data-type="\{{type}}"
                   data-filetype="\{{fileType}}">
                  \{{name}}
                </a>
            </td>
            <td class="cds-modify">
              \{{modify}}
            </td>
            <td class="cds-size">
              \{{size}}
            </td>
            <td class="cds-actions">
                <section class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-link cds-element-link"
                       data-parent="\{{parent}}"
                       data-path="\{{name}}"
                       data-type="\{{type}}"
                       data-filetype="\{{fileType}}">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-link cds-file-delete"
                       data-parent="\{{parent}}"
                       data-path="\{{name}}"
                       data-type="\{{type}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </section>
            </td>
        </tr>
    </script>
    <script type="template/mustache" id="cds-codeTemplate">
        <pre class="language-\{{type}}"><code class="language-\{{type}}">\{{code}}</code></pre>
    </script>
    <script src="/js/cds.filelist.js"></script>
    <script>
        var FileList = new CDSFileList("{{project.id}}", {{#ifEq project.owner.id user.id}}true{{else}}false{{/ifEq}});
    </script>
    {{#ifEq project.repositoryType "local"}}
      {{>localfs this}}
    {{/ifEq}}
{{/contentFor}}
