{{!< ../project}}
<section class="row cds-aboutProject">
    <section class="col-lg-8">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>Activities</h2>
            </header>
            <section class="cds-box-content">
                <ul class="cds-activitiesList">
                  {{#each activities}}
                      <li>{{{enhanceActivity this}}}</li>
                  {{else}}
                      <li>-- No activities yet --</li>
                  {{/each}}
                </ul>
            </section>
        </section>
    </section>
    <section class="col-lg-4">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>Basic info</h2>
            </header>
            <section class="cds-box-content">
                <section class="form-group">
                    <label>Project Name</label>
                    <p class="form-control-static">
                      {{ project.name }}
                    </p>
                </section>
                <section class="form-group">
                    <label>Visibility</label>
                    <p class="form-control-static cds-visibility {{#if project.restricted}}cds-private{{else}}cds-public{{/if}}">
                      {{#if project.restricted}}
                          <span class="glyphicon glyphicon-lock"></span> private
                      {{else}}
                          <span class="glyphicon glyphicon-globe"></span> public
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Owner</label>
                    <p class="form-control-static">
                      {{ project.owner.username }}
                    </p>
                </section>
                <section class="form-group">
                    <label>Team</label>
                    <p class="form-control-static">
                      {{#if project.team}}
                        {{ project.team.name }}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Repository type</label>
                    <p class="form-control-static">
                      {{#if project.repositoryType}}
                        {{project.repositoryType}}
                      {{else}}
                          Cloud Studio Managed
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label>Docker Port</label>
                    <p class="form-control-static">
                      {{#if project.docker}}
                        {{ project.docker }}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>
