{{!< general}}
{{#contentFor "title"}}Dashboard{{/contentFor}}
<h1>Dashboard</h1>
<section class="row">
    <section class="col-lg-8">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>
                  {{projectPrefix}} Projects
                </h2>
            </header>
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover"
                       id="cds_projects">
                    <thead>
                    <tr>
                        <th class="cds-name">Name</th>
                        <th class="cds-owner">Owner</th>
                        <th class="cds-type">Type</th>
                        <th class="cds-developers">Devs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">Loading...</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </section>
    <section class="col-lg-4">
        <section class="cds-box">
            <header class="cds-box-header">
                <h2>Active users</h2>
            </header>
            <section class="cds-box-content">
                <ul class="cds-userList" id="cds_liveUsers">
                    <li>Loading...</li>
                </ul>
            </section>
        </section>
    </section>
</section>

{{#contentFor "pageScripts"}}
    <script type="spark/template" id="cds-table-projectLine">
        <tr data-cds-project="\{{ id }}">
            <td class="cds-name">
                <a href="/projects/\{{ id }}">
                  \{{ name }} (\{{privateProject}})
                </a>
            </td>
            <td class="cds-owner">\{{ owner.username }}</td>
            <td class="cds-type">\{{ type.name }}</td>
            <td class="cds-developers">\{{ totalClones }}</td>
        </tr>
    </script>
    <script>
        var boxUsers = $("#cds_liveUsers"),
                tableProjects = $("#cds_projects"),
                elementBuilder;

        elementBuilder = function (user) {
            var element = $("<li>", {
                id: "userWithId-" + user.id
            });
            $("<img>", {
                src: "http://www.gravatar.com/avatar/" + md5(user.email) + "?s=35",
                alt: "img",
                class: "img-circle"
            }).appendTo(element);

            element.append(` ${user.firstName} ${user.lastName}`);
            element.data('id', user.id);

            element.appendTo(boxUsers);
        };

        socket.on('css.ui.dashboard.return:getActiveUsers', function (res) {
            boxUsers.text("");
            _.each(res, function (user) {
                elementBuilder(user);
            });
        });
        socket.on('css.app.login', function (user) {
            elementBuilder(user);
        });
        socket.on('css.app.logout', function (id) {
            var boxUsers = $("#cds_liveUsers");
            boxUsers.find('li#userWithId-' + id).remove();
        });

        socket.on('css.ui.dashboard.return:getProjects', function (res) {
            var body = tableProjects.find('tbody'),
                    template = $("#cds-table-projectLine").text();

            body.text("");
            if (res.length)
                _.each(res, function (project) {
                    project.privateProject = project.restricted ? 'private' : 'public';
                    body.append(Mustache.render(template, project));
                });
            else
                body.append("<tr><td colspan=\"4\">No projects yet! :(</td></tr>")
        });

        socket.emit('css.ui.dashboard:getActiveUsers');
        socket.emit('css.ui.dashboard:getProjects');

    </script>
{{/contentFor}}
