<!DOCTYPE html>
<html>
<head>
    <title>Error :: Cloud Studio Server</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="description" content="CDS Server"/>
    <meta name="keywords" content="cds, server"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="version" content="{{version}}"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/style.css">

  {{> favicon}}
</head>

<body class="cds-authbkg">
<section class="container cds-authbox">
    <section class="row">
        <section class="col-lg-4 col-lg-offset-1">
            <h1 class="cds-logo">
                Cloud Studio Server
            </h1>
        </section>
        <section class="col-lg-4 cds-box col-lg-offset-1">
            <header class="cds-header">
                <h2>HTTP {{statusCode}}</h2>
            </header>
            <section class="cds-content">
              {{#ifEq statusCode "404"}}
                  The requested page is not available.
              {{else}}
                  <strong>Type</strong>: {{type}} <br/>
                  <strong>Message</strong>: {{message}}
              {{/ifEq}}
            </section>
            <footer class="cds-footer">

            </footer>
        </section>
    </section>
</section>

</body>
</html>
