{{!< general}}
{{#contentFor "title"}}Project: {{project.name}}{{/contentFor}}
<h1>Project: {{project.name}}</h1>
<ul class="nav nav-tabs">
    <li role="presentation" {{#if dashboardActive}}class="active"{{/if}}>
        <a href="/projects/{{project.id}}">
            Dashboard
        </a>
    </li>
  {{#isAllowed "css.ui.project.info" user}}
      <li role="presentation" {{#if informationActive}}class="active"{{/if}}>
          <a href="/projects/{{project.id}}/info">
              Information
          </a>
      </li>
  {{/isAllowed}}
  {{#isAllowed "css.ui.project.contributors" user}}
      <li role="presentation" {{#if contributorsActive}}class="active"{{/if}}>
          <a href="/projects/{{project.id}}/contributors">
              Contributors
          </a>
      </li>
  {{/isAllowed}}
  {{#isAllowed "css.ui.project.files" user}}
      <li role="presentation" {{#if sourcesActive}}class="active"{{/if}}>
          <a href="/projects/{{project.id}}/files">
              Sources
          </a>
      </li>
  {{/isAllowed}}
  {{#allowedEdit project.owner.id user "css.ui.project.edit"}}
      <li role="presentation" {{#if editActive}}class="active"{{/if}}>
          <a href="/projects/{{project.id}}/edit">
              Edit
          </a>
      </li>
  {{/allowedEdit}}
</ul>
{{{body}}}

