{{!< general}}
{{#contentFor "title"}}
  {{#if type.id}}
      Edit Project Type
  {{else}}
      Create Project Type
  {{/if}}
{{/contentFor}}
<form action="" method="{{#if type.id}}PUT{{else}}POST{{/if}}" class="cds-form"
      data-api-path="projectType"
  {{#if type.id}}
      data-api-id="{{type.id}}"
      data-api-callback="refreshScreen"
  {{else}}
      data-api-callback="redirectToTypeID"
  {{/if}}>
    <h1>
      {{#if type.id}}
          Edit Project Type
      {{else}}
          Create Project Type
      {{/if}}
        <section class="btn-group">
            <a href="/types" class="btn btn-danger">
                <span class="fa fa-times"></span> Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-save"></span> Save
            </button>
        </section>
    </h1>
    <section class="row">
        <section class="col-lg-6">
            <section class="cds-box">
                <section class="cds-box-content">
                    <section class="alert alert-danger hidden cds-errors">
                    </section>
                    <section class="form-group">
                        <label for="fldName">Name</label>
                        <input type="text" name="name" id="fldName" class="form-control" value="{{type.name}}"
                               required/>
                    </section>
                    <section class="form-group">
                        <label for="fldMultipleInstances">Multiple Instances</label>
                        <select name="multiple_instances" class="form-control" id="fldMultipleInstances">
                            <option value="0">No</option>
                            <option value="1"{{#if type.multiple_instances}}selected{{/if}}>Yes</option>
                        </select>
                    </section>
                    <section class="form-group">
                        <label for="fldLogo">Logo</label>
                        <input type="text" name="logo" id="fldLogo" class="form-control" value="{{type.logo}}"
                               required/>
                    </section>
                    <section class="form-group">
                        <label for="fldDescription">Description</label>
                    <textarea name="description" class="form-control" cols="30" rows="10"
                              id="fldDescription">{{type.description}}</textarea>
                    </section>
                </section>
            </section>
        </section>
        <section class="col-lg-6">
            <section class="form-group">
                <label for="flDockerFile">Docker File</label>
            <textarea name="docker_file" class="form-control" cols="30" rows="20"
                      id="flDockerFile">{{type.docker_file}}</textarea>
            </section>
        </section>
    </section>
</form>
{{#contentFor "pageScripts"}}
    <script>
        function redirectToTypeID(data) {
            $(location).attr('href', `/types/${data.id}`);
        }
    </script>
{{/contentFor}}
