{{!< general}}
{{#contentFor "title"}}List Project Types{{/contentFor}}
<h1>
    List Project Types
  {{#isAllowed "css.ui.projectType.new" user}}
      <a href="/types/create" class="btn btn-primary" title="Add">
          <span class="glyphicon glyphicon-plus"></span> Add Project Type
      </a>
  {{/isAllowed}}
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-types">
                    <thead>
                    <tr>
                        <th class="cds-name">Name</th>
                        <th class="cds-logo">Logo</th>
                        <th class="cds-projects">Projects</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each types}}
                        <tr id="projectType-{{id}}">
                            <td class="cds-name">
                              {{name}}
                            </td>
                            <td class="cds-logo">
                                <img src="{{logo}}" alt="logo" class="cds-img img-circle img-responsive"/>
                            </td>
                            <td class="cds-projects">
                              {{projects.length}}
                            </td>
                            <td class="cds-actions">
                                <section class="btn-group">
                                    <a href="/types/{{id}}" class="btn btn-success"
                                       tilte="View">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                  {{#isAllowed "css.ui.projectType.projects" ../user}}
                                      <a href="/types/{{id}}/projects" class="btn btn-primary"
                                         tilte="Projects">
                                          <span class="glyphicon glyphicon-folder-open"></span>
                                      </a>
                                  {{/isAllowed}}
                                  {{#isAllowed "css.ui.projectType.edit" ../user}}
                                      <a href="/types/{{id}}/edit" class="btn btn-warning"
                                         tilte="Edit">
                                          <span class="glyphicon glyphicon-edit"></span>
                                      </a>
                                    {{#ifNot projects.length}}
                                        <button class="btn btn-danger cds-delete" title="Delete"
                                                data-api-id="{{id}}"
                                                data-api-path="projectType">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {{/ifNot}}
                                  {{/isAllowed}}
                                </section>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
