{{!< general}}
{{#contentFor "title"}}Project Type View{{/contentFor}}
<h1>{{type.name}}</h1>
<section class="row">
    <section class="col-lg-7">
        <section class="cds-box">
            <section class="cds-box-content">
                <section class="alert alert-danger hidden cds-errors">
                </section>
                <section class="form-group">
                    <label for="fldName">Name</label>
                    <p class="form-control-static">
                      {{type.name}}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldMultipleInstances">Multiple Instances</label>
                    <p class="form-control-static">
                      {{#if type.multiple_instances}}
                          Yes
                      {{else}}
                          No
                      {{/if}}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldLogo">Logo</label>
                    <p class="form-control-static">
                      {{type.logo}}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldDescription">Description</label>
                    <p class="form-control-static">
                      {{#if type.description}}
                        {{{nl2br type.description}}}
                      {{else}}
                          -
                      {{/if}}
                    </p>
                </section>

            </section>
        </section>
    </section>
    <section class="col-lg-5">
        <section class="form-group">
            <label for="fldDescription">Docker File</label>
            <p class="form-control-static">
              {{#if type.docker_file}}
                {{{nl2br type.docker_file}}}
              {{else}}
                  -
              {{/if}}
            </p>
        </section>
    </section>
</section>

