{{!< auth}}
{{#contentFor "title"}}Login | Cloud Studio :: Server{{/contentFor}}
{{#contentFor "header"}}Login{{/contentFor}}
<form action="/auth/login" method="POST" class="cds-basic-form">
    <section class="alert alert-danger hidden cds-errors">
    </section>
    <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
    <section class="form-group">
        <label>Username</label>
        <input type="text" name="username" placeholder="username" class="form-control"/>
    </section>
    <section class="form-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="password" class="form-control"/>
    </section>
    <section>
      {{#if engine.config.user.register}}
          <a href="/auth/register" class="btn btn-link">Register</a>
      {{/if}}
        <button class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-log-in"></span> Login
        </button>
    </section>
</form>
