{{!< auth}}
{{#contentFor "title"}}Register | Cloud Studio :: Server{{/contentFor}}
{{#contentFor "header"}}Register{{/contentFor}}

{{#if engine.config.user.register }}
    <form action="/auth/register" method="POST" class="cds-basic-form">
        <section class="alert alert-danger hidden cds-errors">
        </section>
        <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
        <section class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="username" class="form-control"
                   value="{{user.username}}"/>
        </section>
        <section class="form-group">
            <label>Email</label>
            <input type="text" name="email" placeholder="email" class="form-control"
                   value="{{user.email}}"/>
        </section>
        <section class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" class="form-control"/>
        </section>
        <section class="form-group">
            <label>Password Confirmation</label>
            <input type="password" name="confirmPassword" placeholder="password confirmation"
                   class="form-control"/>
        </section>
        <section class="form-group">
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="first name" class="form-control"
                   value="{{user.firstName}}"/>
        </section>
        <section class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="last name" class="form-control"
                   value="{{user.lastName}}"/>
        </section>
        <section class="pull-right">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-send"></span> Register
            </button>
        </section>
    </form>
{{else}}
    <section class="alert alert-info">
        User registration has been disabled!
    </section>
{{/if}}
