<a href="javascript:void(0);" class="btn btn-success" id="cds-syncFromMain">
    <span class="glyphicon glyphicon-import"></span> Sync from Main
</a>
{{#ifEq project.owner.id user.id}}
    <a href="javascript:void(0);" class="btn btn-primary" id="cds-syncToMain">
        <span class="glyphicon glyphicon-export"></span> Sync to Main
    </a>
{{/ifEq}}
<a href="javascript:void(0);" class="btn btn-warning" id="cds-copyFromMain">
    <span class="glyphicon glyphicon-save"></span> Copy from Main
</a>
{{#ifEq project.owner.id user.id}}
    <a href="javascript:void(0);" class="btn btn-danger" id="cds-copyToMain">
        <span class="glyphicon glyphicon-open"></span> Copy to Main
    </a>
{{/ifEq}}
