/* latin-ext */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(armata_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(armata.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f8f8f8 url('images/bkg.png');
  font-family: 'Armata', sans-serif;
  line-height: 1 !important;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e1e1e1;
  color: #ffffff;
  z-index: 3000;
  top: 0;
  left: 0;
}
.loader .img {
  background: transparent url('images/loader.gif') no-repeat center center;
  width: 124px;
  height: 128px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -84px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  width: 0;
  height: 0;
}
.fa-none:before {
  content: "\0000a0";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding-top: 10px;
}
code {
  padding: 0;
  border: none;
}
#code_template {
  height: 100%;
  width: 100%;
}
#code_template .CodeMirror {
  height: 100%;
}
#code_template .CodeMirror-activeline-background {
  background: #e8f2ff !important;
}
#topbar {
  border-bottom: 1px solid #dedede;
  background: #ffffff;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
#topbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#topbar ul li {
  display: inline-block;
  padding: 0;
}
#topbar ul li a {
  display: block;
  text-decoration: none;
  border-bottom: 3px solid #ffffff;
  color: #ababab;
  line-height: 16pt;
  font-size: 10pt;
}
#topbar ul li a:hover {
  border-bottom-color: #00869E !important;
  color: #282828;
}
#topbar #menubar li a {
  font-family: 'Armata', sans-serif;
  padding: 5px 8px 2px 8px;
  cursor: pointer;
}
#topbar #menubar li ul {
  display: none;
  position: absolute;
  width: 220px;
  background-color: #ffffff;
  z-index: 105;
  border: 1px solid #dedede;
  border-top: none;
  -webkit-box-shadow: 2px 7px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 7px 8px 1px rgba(0, 0, 0, 0.15);
}
#topbar #menubar li ul li {
  display: block;
}
#topbar #menubar li ul li a {
  padding: 2px 5px;
  margin: 0;
  font-size: 9pt;
  vertical-align: middle !important;
}
#topbar #menubar li ul li a .fa {
  margin-top: 0;
  width: 20px !important;
  font-size: 11pt;
  display: inline-block;
}
#topbar #menubar li ul li a .shortcut {
  float: right;
  padding-right: 5px;
  font-size: 8pt;
}
#topbar #menubar li ul li.divider {
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  margin: 5px 0;
}
#topbar #menubar li:hover a {
  color: #282828;
}
#topbar #menubar li:hover ul {
  display: block;
}
#topbar #menubar li:hover ul a {
  border-bottom: none;
  border-left: 3px solid #ffffff;
  color: #a5a5a5;
}
#topbar #menubar li:hover ul a:hover {
  color: #000000;
  border-left-color: #00869E;
}
#topbar #menubar li:hover ul li.disabled a {
  border-bottom: none;
  border-left-color: #ffffff !important;
}
#topbar #menubar li.disabled a {
  color: #d0d0d0 !important;
  cursor: default !important;
  border-bottom-color: #ffffff !important;
}
#topbar #menubar li.disabled ul {
  display: none;
}
#topbar #extrabox {
  margin-right: 5px;
}
#topbar #extrabox #title {
  color: #282828;
  font-size: 10pt;
  font-weight: 200;
  font-family: 'Armata', sans-serif;
  margin-right: 15px;
}
#topbar #extrabox a {
  padding: 6px 8px 0px 8px;
  cursor: pointer;
}
#topbar #extrabox a .glyphicon {
  font-size: 11pt !important;
}
#sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 32px;
  width: 55px;
  background: #fafafa;
  border-right: 1px solid #dedede;
  z-index: 50;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-bottom: 1px solid #dedede;
}
#sidebar ul li {
  display: block;
}
#sidebar ul li a {
  display: block;
  padding: 4px 10px;
  color: #a5a5a5;
  font-size: 24pt;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
}
#sidebar ul li a:hover {
  color: #ffffff;
  background-color: #878787;
}
#sidebar ul li a.active {
  color: #ffffff;
  background-color: #00869E;
  cursor: default;
}
#sidebar ul li a.disabled {
  color: #d0d0d0;
  background: #ffffff;
  cursor: default;
}
#sidebar .tooltip {
  width: 120px;
  font-size: 10pt !important;
  font-family: 'Armata', sans-serif;
}
#sidebar-ext {
  display: none;
  position: absolute;
  left: 55px;
  top: 32px;
  background: #f1f1f1;
  border-right: 1px solid #dedede;
  width: 300px;
  cursor: default;
  z-index: 55;
}
#sidebar-ext .widget {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: none;
}
#sidebar-ext .widget.active {
  display: block;
}
#sidebar-ext .widget .header {
  padding: 10px 10px;
  background: #dcdcdc;
  color: #989898;
  font-size: 15pt;
  text-transform: uppercase;
}
#sidebar-ext .widget .header .close-widget {
  float: right;
  text-decoration: none;
  color: #ababab;
  cursor: pointer;
  margin-top: -3px;
}
#sidebar-ext .widget .header .close-widget:hover {
  color: #454545;
}
#sidebar-ext .widget .content {
  height: 100%;
  overflow: auto;
}
#sidebar-ext .contentLoader {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background: rgba(50, 50, 50, 0.9);
  z-index: 1000;
}
#sidebar-ext .contentLoader .img {
  display: block;
  background: transparent url('images/ctnt_loader.gif') no-repeat center center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
#PROJECT-FILES {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
#PROJECT-FILES ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
#PROJECT-FILES ul li {
  display: block;
  vertical-align: middle;
}
#PROJECT-FILES ul li a {
  display: block;
  color: #676767;
  text-decoration: none;
  padding: 1px 5px;
}
#PROJECT-FILES ul li a:hover {
  color: #0088cc;
}
#PROJECT-FILES ul li a.directory {
  font-weight: 400;
}
#PROJECT-FILES ul li a.focused {
  background: #787878;
  color: #ffffff;
}
#PROJECT-FILES ul li .glyphicon {
  margin-right: 3px;
  font-size: 11pt;
}
#PROJECT-FILES ul li ul {
  margin: 0;
  padding: 0 0 0px 25px;
  display: none;
}
#TOOLBOX {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  padding-bottom: 0px;
}
#TOOLBOX .container {
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
}
#TOOLBOX h1 {
  padding: 5px 10px;
  margin: 5px 0 2px 0;
  font-size: 16pt;
  font-weight: 300 !important;
  color: #0088cc;
}
#TOOLBOX ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#TOOLBOX ul li {
  cursor: pointer;
  display: inline-block;
  width: 135px;
  padding: 5px 10px;
  background: #f1f1f1;
  color: #878787;
}
#TOOLBOX ul li:hover {
  background: #ffffff;
}
#TOOLBOX ul li.disabled {
  color: #dcdcdc;
}
#PROPERTIES {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  padding-bottom: 0px;
}
#PROPERTIES .container {
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
}
#PROPERTIES h1 {
  padding: 5px 10px;
  margin: 5px 0 2px 0;
  font-size: 16pt;
  font-weight: 300 !important;
  color: #0088cc;
}
#PROPERTIES h1 .pull-right {
  margin-top: -6px;
}
#PROPERTIES table {
  width: 100%;
  font-family: "Lato", sans-serif;
}
#PROPERTIES table th {
  width: 30%;
  padding: 2px 5px;
  text-align: right;
}
#PROPERTIES table td {
  padding: 2px 5px;
  width: 65%;
}
#PROPERTIES table .OthersClass {
  display: table-row;
}
#PROPERTIES table .FormObject,
#PROPERTIES table .TextareaObject,
#PROPERTIES table .ButtonObject {
  display: none;
}
.fileContent {
  width: 600px;
  height: 300px;
  overflow: auto;
  background: #ababab;
  color: #ffffff;
  position: absolute;
  top: 32px;
  left: 411px;
}
.workspace {
  background: transparent;
  position: absolute;
  top: 32px;
  cursor: default;
}
.workspace .tabs {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 30px;
}
.workspace .tabs ul {
  list-style: none;
  margin: 0;
  min-height: 28px;
  width: 50000px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 2px;
}
.workspace .tabs ul li {
  display: block;
  float: left;
  padding: 0px 11px;
  line-height: 28px;
  vertical-align: middle;
  font-family: 'Armata', sans-serif;
  font-size: 9pt;
  cursor: default;
  color: #989898;
  background: #e8e8e8;
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.workspace .tabs ul li:hover {
  background: #f6f6f6;
  color: #282828;
}
.workspace .tabs ul li.active {
  background: #fcfcfc;
  color: #0088cc;
  border-bottom: 1px solid #fcfcfc;
}
.workspace .tabs ul li.changed .title:after {
  content: " *";
}
.workspace .tabs ul li .title {
  display: inline-block;
  vertical-align: middle;
}
.workspace .tabs ul li .scroll {
  width: 16px;
  height: 16px;
  display: none;
  background: transparent url('images/save.gif') no-repeat center center;
  margin-left: 5px;
  vertical-align: middle;
}
.workspace .tabs ul li a {
  vertical-align: middle;
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  color: #bcbcbc;
}
.workspace .tabs ul li a:hover {
  color: #dc0000;
}
.workspace .tabs ul li a .glyphicon {
  font-size: 10pt;
}
.workspace .tabs:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.workspace .tabs .navi {
  position: absolute;
  top: 0px;
  right: 0;
  background: #f1f1f1;
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
  padding-right: 5px;
  padding-top: 3px;
  cursor: default;
}
.workspace .tabs .navi a {
  display: inline-block;
  padding: 0px 0px 0px 11px;
  line-height: 28px;
  text-align: center;
  font-family: 'Armata', sans-serif;
  font-size: 9pt;
  cursor: pointer;
  color: #989898;
  text-decoration: none;
  background: #e8e8e8;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.workspace .tabs .navi a:hover {
  background: #0088cc;
  color: #ededed;
}
.workspace .tabs .navi a .glyphicon {
  font-size: 10pt;
}
.workspace .xcontainer {
  position: relative;
  z-index: 5;
  margin-top: -1px;
  width: 100%;
  background: #f6f6f6 url('images/logo.png') no-repeat center center;
  border-top: 1px solid #dfdfdf;
}
.workspace .xcontainer #dropbox-ctx {
  z-index: 1500;
}
.workspace .xcontainer #dropbox-ctx a:hover {
  color: #ffffff;
}
.workspace .xcontainer #dropbox-ctx a.disabled {
  color: #a8a8a8;
  background: transparent;
}
.workspace .xcontainer .fader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(56, 56, 56, 0.5);
  position: absolute;
  display: none;
  z-index: 1000;
}
.workspace .xcontainer .fader .msg {
  width: 250px;
  margin: auto;
  background: #f1f1f1;
  padding: 10px 20px;
  display: none;
}
.workspace .xcontainer .content {
  background: #fcfcfc;
  width: 100%;
  height: 100%;
  display: none;
  overflow: none;
}
.workspace .xcontainer .content .textarea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  resize: none;
  width: 100%;
  height: 100%;
}
.workspace .xcontainer .content.active {
  display: block;
}
.workspace .xcontainer .wbuilder {
  background: #fcfcfc;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: none;
  overflow-y: auto;
  padding-bottom: 20px;
}
.workspace .xcontainer .wbuilder .checkbox {
  vertical-align: middle;
}
.workspace .xcontainer .wbuilder .checkbox input {
  vertical-align: middle;
  margin-top: 0;
}
.workspace .xcontainer .wbuilder form {
  padding-bottom: 5px;
}
.workspace .xcontainer .wbuilder .drop-hover {
  background: #ffffcc !important;
  border: 1px dotted #989898 !important;
  color: #282828;
}
.workspace .xcontainer .wbuilder .btn-group,
.workspace .xcontainer .wbuilder .button-toolbar {
  min-width: 50px;
  min-height: 25px !important;
}
.workspace .xcontainer .wbuilder .list-view {
  width: 150px;
  min-height: 250px !important;
  border: 1px solid #ababab;
  background: #f1f1f1;
}
.workspace .xcontainer .wbuilder .list-view li {
  min-height: 25px;
}
.workspace .xcontainer .wbuilder .form-control {
  margin-bottom: 3px;
}
.workspace .xcontainer .wbuilder .header {
  min-height: 35px;
  width: 100%;
  border: 1px dashed #ededed;
}
.workspace .xcontainer .wbuilder .header * {
  min-height: 15px;
}
.workspace .xcontainer .wbuilder .header ul {
  width: 100%;
  height: 100%;
}
.workspace .xcontainer .wbuilder .ctnt {
  border: 1px dashed #ededed;
  min-height: 35px;
  width: 100%;
}
.workspace .xcontainer .wbuilder .ctnt * {
  min-height: 15px;
}
.workspace .xcontainer .wbuilder .ctnt section {
  padding-bottom: 5px;
}
.workspace .xcontainer .wbuilder .footer {
  border: 1px dashed #ededed;
  min-height: 35px;
  width: 100%;
}
.workspace .xcontainer .wbuilder .footer * {
  min-height: 15px;
}
.workspace .xcontainer .wbuilder .footer ul {
  width: 100%;
  height: 100%;
}
.workspace .xcontainer .wbuilder .actions {
  display: none;
}
.workspace .workspaceLoader {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background: rgba(225, 225, 225, 0.7);
  z-index: 90;
}
.workspace .workspaceLoader .img {
  display: block;
  background: transparent url('images/ctnt_loader.gif') no-repeat center center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.modal {
  font-family: "Lato", sans-serif;
  display: none;
}
.modal h4 {
  padding-top: 0;
}
.modal .modal-header .close {
  margin-top: 8px;
  font-size: 19pt;
  line-height: 1;
}
.modal_two #modalText {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  resize: none;
  width: 100%;
  height: 200px;
}
