{{!< general}}
{{#contentFor "title"}}
  {{#if team.id}}
      Edit Team
  {{else}}
      Create Team
  {{/if}}
{{/contentFor}}
<form action="" method="{{#if team.id}}PUT{{else}}POST{{/if}}" class="cds-form"
      data-api-path="team"
  {{#if team.id}}
      data-api-id="{{team.id}}"
      data-api-callback="refreshScreen"
  {{else}}
      data-api-callback="redirectToTeamID"
  {{/if}}>
    <h1>
      {{#if team.id}}
          Edit Team
      {{else}}
          Create Team
      {{/if}}
        <section class="btn-group">
            <a href="/teams" class="btn btn-danger">
                <span class="fa fa-times"></span> Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-save"></span> Save
            </button>
        </section>
    </h1>
    <section class="row">
        <section class="col-lg-8">
            <section class="cds-box">
                <section class="cds-box-content">
                    <section class="alert alert-danger hidden cds-errors">
                    </section>
                    <section class="form-group">
                        <label for="fldName">Name</label>
                        <input type="text" class="form-control"
                               name="name"
                               id="fldName" placeholder="Name"
                               value="{{ team.name }}"/>
                    </section>
                    <section class="form-group">
                        <label for="fldLead">Lead</label>
                        <select class="form-control" name="leadID" id="fldLead">
                          {{#each users}}
                              <option value="{{id}}" {{#ifEq id ../team.leadID}}selected{{/ifEq}}>
                                {{username}}
                              </option>
                          {{/each}}
                        </select>
                        <span class="help-block"></span>
                    </section>
                </section>
            </section>
        </section>
    </section>
</form>
{{#contentFor "pageScripts"}}
    <script>
        function redirectToTeamID(data) {
            $(location).attr('href', `/teams/${data.id}`);
        }
    </script>
{{/contentFor}}
