{{!< general}}
{{#contentFor "title"}}List Teams{{/contentFor}}
<h1>
    List Teams
  {{#isAllowed "css.ui.team.new" user}}
      <a href="/teams/create" class="btn btn-primary" title="Add">
          <span class="glyphicon glyphicon-plus"></span> Add Team
      </a>
  {{/isAllowed}}
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-teams">
                    <thead>
                    <tr>
                        <th class="cds-name">Name</th>
                        <th class="cds-rank">Lead</th>
                        <th class="cds-members">Members</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each teams}}
                        <tr id="team-{{id}}">
                            <td class="cds-name">
                              {{name}}
                            </td>
                            <td class="cds-rank">
                              {{lead.firstName}} {{lead.lastName}}<br/>
                                ({{lead.username}})
                            </td>
                            <td class="cds-members">
                              {{members.length}}
                            </td>
                            <td class="cds-actions">
                                <section class="btn-group">
                                    <a href="/teams/{{id}}" class="btn btn-success"
                                       tilte="View">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                  {{#isAllowed "css.ui.projectType.new" ../user}}
                                      <a href="/teams/{{id}}/projects" class="btn btn-primary"
                                         tilte="Projects">
                                          <span class="glyphicon glyphicon-folder-open"></span>
                                      </a>
                                  {{/isAllowed}}
                                  {{#allowedEdit leadID ../user "css.ui.team.new"}}
                                      <a href="/teams/{{id}}/edit" class="btn btn-warning"
                                         tilte="Edit">
                                          <span class="glyphicon glyphicon-edit"></span>
                                      </a>
                                      <button class="btn btn-danger cds-delete" title="Delete"
                                              data-api-id="{{id}}"
                                              data-api-path="team">
                                          <span class="glyphicon glyphicon-remove"></span>
                                      </button>
                                  {{/allowedEdit}}
                                </section>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
