{{!< general}}
{{#contentFor "title"}}View Team{{/contentFor}}
<h1>
    View Team
</h1>
<section class="row">
    <section class="col-lg-4">
        <section class="cds-box">
            <h2>Information</h2>
            <section class="cds-box-content">
                <section class="form-group">
                    <label for="fldName">Name</label>
                    <p class="form-control-static">
                      {{ team.name }}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldLead">Lead</label>
                    <p class="form-control-static">
                      {{ team.lead.firstName }} {{ team.lead.lastName }} ({{ team.lead.username }})
                    </p>
                </section>
            </section>
        </section>
    </section>
    <section class="col-lg-8">
        <section class="cds-box">
            <h2>
                Members
              {{#allowedEdit team.lead.id user "css.ui.team.members"}}
                  <button class="btn btn-primary" title="Add" data-toggle="modal"
                          data-target="#memberAdd">
                      <span class="glyphicon glyphicon-plus"></span> Add Member
                  </button>
              {{/allowedEdit}}
            </h2>
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-members">
                    <thead>
                    <tr>
                        <th class="cds-name">Full Name</th>
                        <th class="cds-username">Username</th>
                        <th class="cds-type">Type</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each team.members}}
                        <tr id="member-{{id}}">
                            <td class="cds-name">
                              {{firstName}} {{lastName}}
                            </td>
                            <td class="cds-name">
                              {{username}}
                            </td>
                            <td class="cds-type">
                              {{getRank rank}}
                            </td>
                            <td class="cds-actions">
                              {{#allowedEdit ../team.lead.id ../user "css.ui.team.members"}}
                                  <button class="btn btn-danger cds-delete" title="Delete"
                                          data-api-id="{{id}}"
                                          data-api-path="team/{{../team.id}}/members"
                                          data-api-element="member">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                              {{/allowedEdit}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
<section class="modal fade" tabindex="-1" role="dialog" id="memberAdd">
    <form action="" method="POST" class="cds-form"
          data-api-path="team/{{team.id}}/members"
          data-api-callback="refreshScreen">
        <section class="modal-dialog">
            <section class="modal-content">
                <section class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Member adding</h4>
                </section>
                <section class="modal-body">
                    <label>User:</label>
                    <select name="userID" id="userID" class="form-control">
                      {{#each users}}
                          <option value="{{id}}">
                            {{firstName}} {{lastName}} ({{username}})
                          </option>
                      {{/each}}
                    </select>
                </section>
                <section class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Member</button>
                </section>
            </section>
        </section>
    </form>
</section>
