{{!< general}}
{{#contentFor "title"}}
  {{#if userX.id}}
      Edit User
  {{else}}
      Create User
  {{/if}}
{{/contentFor}}
<form action="" method="{{#if userX.id}}PUT{{else}}POST{{/if}}" class="cds-form"
      data-api-path="user"
  {{#if userX.id}}
      data-api-id="{{userX.id}}"
      data-api-callback="refreshScreen"
  {{else}}
      data-api-callback="redirectToUserID"
  {{/if}}>
    <h1>
      {{#if userX.id}}
          Edit User
      {{else}}
          Create User
      {{/if}}
        <section class="btn-group">
            <a href="/users" class="btn btn-danger">
                <span class="fa fa-times"></span> Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-save"></span> Save
            </button>
        </section>
    </h1>
    <section class="row">
        <section class="col-lg-8">
            <section class="cds-box">
                <section class="cds-box-content">
                    <section class="alert alert-danger hidden cds-errors">
                    </section>
                    <section class="form-group">
                        <label for="fldUsername">Username</label>
                      {{#ifNotEq userX.id user.id}}
                          <input type="text" class="form-control"
                                 name="username"
                                 id="fldUsername" placeholder="Username"
                                 value="{{ userX.username }}"/>
                      {{else}}
                          <p class="form-control-static">
                            {{ userX.username }}
                              <input type="hidden"
                                     name="username"
                                     value="{{userX.username}}"/>
                          </p>
                      {{/ifNotEq}}
                    </section>
                    <section class="form-group">
                        <label for="fldEmail">Email</label>
                        <input type="email" class="form-control"
                               name="email"
                               id="fldEmail" placeholder="Email"
                               value="{{ userX.email }}"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldFirstName">First Name</label>
                        <input type="text" class="form-control"
                               name="firstName"
                               id="fldFirstName" placeholder="First Name"
                               value="{{ userX.firstName }}"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldLastName">Last Name</label>
                        <input type="text" class="form-control"
                               name="lastName"
                               id="fldLastName" placeholder="Last Name"
                               value="{{ userX.lastName }}"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldRank">Rank</label>
                      {{#ifNotEq userX.id user.id}}
                          <select class="form-control" name="rank" id="fldRank">
                              <option value="{{ranks.DEV}}"
                                      {{#ifEq ranks.DEV userX.rank}}selected{{/ifEq}}>{{getRank ranks.DEV}}</option>
                              <option value="{{ranks.LEAD}}"
                                      {{#ifEq ranks.LEAD userX.rank}}selected{{/ifEq}}>{{getRank ranks.LEAD}}</option>
                              <option value="{{ranks.MANAGER}}"
                                      {{#ifEq ranks.MANAGER userX.rank}}selected{{/ifEq}}>{{getRank ranks.MANAGER}}</option>
                              <option value="{{ranks.ADMIN}}"
                                      {{#ifEq ranks.ADMIN userX.rank}}selected{{/ifEq}}>{{getRank ranks.ADMIN}}</option>
                          </select>
                      {{else}}
                          <input type="hidden" name="rank" value="{{userX.rank}}"/>
                          <p class="form-control-static">
                            {{getRank userX.rank}}
                          </p>
                      {{/ifNotEq}}
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldPassword">Password</label>
                        <input type="password" class="form-control"
                               name="password"
                               id="fldPassword" placeholder="Password"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control"
                               name="confirmPassword"
                               id="fldConfirmPassword" placeholder="Confirm Password"/>
                        <span class="help-block"></span>
                    </section>
                </section>
            </section>
        </section>
    </section>
</form>
{{#contentFor "pageScripts"}}
    <script>
        function redirectToUserID(data) {
            $(location).attr('href', `/users/${data.id}`);
        }
    </script>
{{/contentFor}}
