{{!< general}}
{{#contentFor "title"}}List Users{{/contentFor}}
<h1>
    List Users
  {{#isAllowed "css.ui.user.new" user}}
      <a href="/users/create" class="btn btn-primary" title="Add">
          <span class="glyphicon glyphicon-plus"></span> Add User
      </a>
  {{/isAllowed}}
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-users">
                    <thead>
                    <tr>
                        <th class="cds-name">Name / Username</th>
                        <th class="cds-rank">Rank</th>
                        <th class="cds-projects">Owned Projects</th>
                        <th class="cds-projects">Cloned Projects</th>
                        <th class="cds-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each users}}
                        <tr id="user-{{id}}">
                            <td class="cds-name">
                              {{firstName}} {{lastName}}<br/>
                                ({{username}})
                            </td>
                            <td class="cds-rank">
                              {{getRank rank}}
                            </td>
                            <td class="cds-projects">
                              {{ownProjects.length}}
                            </td>
                            <td class="cds-projects">
                              {{clones.length}}
                            </td>
                            <td class="cds-actions">
                                <section class="btn-group">
                                    <a href="/users/{{id}}" class="btn btn-success"
                                       tilte="View">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                  {{#isAllowed "css.ui.user.projects" ../user}}
                                      <a href="/users/{{id}}/projects" class="btn btn-primary"
                                         tilte="Projects">
                                          <span class="glyphicon glyphicon-folder-open"></span>
                                      </a>
                                  {{/isAllowed}}
                                  {{#isAllowed "css.ui.user.clones" ../user}}
                                      <a href="/users/{{id}}/clones" class="btn btn-primary"
                                         tilte="Clones">
                                          <span class="glyphicon glyphicon-copy"></span>
                                      </a>
                                  {{/isAllowed}}
                                  {{#isAllowed "css.ui.user.permissions" ../user}}
                                      <a href="/users/{{id}}/permissions" class="btn btn-default"
                                         tilte="Permissions">
                                          <span class="glyphicon glyphicon-list"></span>
                                      </a>
                                  {{/isAllowed}}
                                  {{#isAllowed "css.ui.user.edit" ../user}}
                                      <a href="/users/{{id}}/edit" class="btn btn-warning"
                                         tilte="Edit">
                                          <span class="glyphicon glyphicon-edit"></span>
                                      </a>
                                    {{#ifNotEq id ../user.id}}
                                        <button class="btn btn-danger cds-delete" title="Delete"
                                                data-api-id="{{id}}"
                                                data-api-path="user">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {{/ifNotEq}}
                                  {{/isAllowed}}
                                </section>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
