{{!< general}}
{{#contentFor "title"}}User: {{userX.username}} | List Permissions{{/contentFor}}
<h1>
    User: {{userX.username}} | List Permissions
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
          {{#isAllowed "css.ui.user.permissions" user}}
              <section class="cds-box-metaBtn">
                  <section class="btn-group">
                      <button class="btn btn-primary" id="cds-addPermission" data-toggle="modal"
                              data-target="#permissionAdd">
                          <span class="glyphicon glyphicon-plus"></span> Add Permission
                      </button>
                      <button class="btn btn-success" id="cds-loadDefaultPermission" data-rank="{{getRank userX.rank}}">
                          <span class="glyphicon glyphicon-list-alt"></span> Load default ({{getRank userX.rank}})
                      </button>
                      <button class="btn btn-danger" id="cds-deleteAll">
                          <span class="glyphicon glyphicon-remove"></span> Delete all
                      </button>
                  </section>
              </section>
          {{/isAllowed}}
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-userPermissions">
                    <thead>
                    <tr>
                        <th class="cds-permission">Permission</th>
                        <th class="cds-action">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each userX.permissions}}
                        <tr id="permission-{{id}}">
                            <td class="cds-permission">
                              {{permission}}
                            </td>
                            <td class="cds-action">
                              {{#isAllowed "css.ui.user.permissions" ../user}}
                                  <button class="btn btn-danger cds-delete" title="Delete"
                                          data-api-id="{{id}}"
                                          data-api-path="permission">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                              {{/isAllowed}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
<section class="modal fade" tabindex="-1" role="dialog" id="permissionAdd">
    <form action="" method="POST" class="cds-form"
          data-api-path="permission">
        <section class="modal-dialog">
            <section class="modal-content">
                <section class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Permission adding</h4>
                </section>
                <section class="modal-body">
                    <input type="hidden" name="userID" value="{{userX.id}}"/>
                    <label>Permission:</label>
                    <input type="text" class="form-control" id="permission" name="permission" data-provide="typeahead"
                           autocomplete="off"/>
                </section>
                <section class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" id="cds-refreshData">Refresh Data</button>
                    <button type="submit" class="btn btn-success">Add Permission</button>
                </section>
            </section>
        </section>
    </form>
</section>
{{#contentFor "pageScripts"}}
    <script>
        $('#permissionAdd').on('show.bs.modal', function (event) {
            $('#permission').typeahead('destroy');
            $("#permission").val("");
            $.get(apiPath('user/{{userX.id}}/no_permission'), function (data) {
                $("#permission").typeahead({source: data});
            }, 'json');
        });

        $(document).on("click", "#cds-refreshData", refreshScreen);

        $(document).on("click", "#cds-loadDefaultPermission", function loadDefaultPermission(e) {
            e.preventDefault();
            const rank = $(this).data("rank");

            $.ajax({
                data: {
                    type: rank,
                    userID: "{{userX.id}}"
                },
                dataType: 'json',
                method: "PUT",
                url: apiPath("permission/default"),

                error: CDSApp.errorFunction,
                success: function refresh() {
                    $(location).attr('href', $(location).attr('href'));
                }
            });
        });

        $(document).on("click", "#cds-deleteAll", function deleteAll(e) {
            e.preventDefault();

            $.ajax({
                data: {
                    userID: "{{userX.id}}"
                },
                dataType: 'json',
                method: "DELETE",
                url: apiPath("permission/all"),

                error: CDSApp.errorFunction,
                success: function refresh() {
                    $(location).attr('href', $(location).attr('href'));
                }
            });
        });
    </script>
{{/contentFor}}
