{{!< general}}
{{#contentFor "title"}}View User{{/contentFor}}
<h1>
  {{userX.firstName}} {{userX.lastName}} ({{userX.username}})
</h1>
<section class="row">
    <section class="col-lg-4">
        <section class="cds-box">
            <section class="cds-box-content">
                <section class="form-group">
                    <label for="fldUsername">Username</label>
                    <p class="form-control-static">
                      {{ userX.username }}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldEmail">Email</label>
                    <p class="form-control-static">
                      {{ userX.email }}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldFirstName">First Name</label>
                    <p class="form-control-static">
                      {{ userX.firstName }}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldLastName">Last Name</label>
                    <p class="form-control-static">
                      {{ userX.lastName }}
                    </p>
                </section>
                <section class="form-group">
                    <label for="fldRank">Rank</label>
                    <p class="form-control-static">
                      {{getRank userX.rank}}
                    </p>
                </section>
            </section>
        </section>
    </section>
    <section class="col-lg-8">
        <section class="cds-box">
            <section class="cds-box-content">
                <h2>
                    Permissions
                  {{#isAllowed "css.ui.user.permissions" user}}
                      <a href="/users/{{userX.id}}/permissions" class="btn btn-warning" title="Edit">
                          <span class="glyphicon glyphicon-edit"></span> Edit Permissions
                      </a>
                  {{/isAllowed}}
                </h2>
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-profilePermissions">
                    <thead>
                    <tr>
                        <th class="cds-permission">Permissions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each userX.permissions}}
                        <tr>
                            <td class="cds-permission">
                              {{permission}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
