{{!< general}}
{{#contentFor "title"}}Profile{{/contentFor}}
<form action="" method="PUT" class="cds-form"
      data-api-path="profile">
    <h1>
        User Profile
    </h1>
    <section class="row">
        <section class="col-lg-6">
            <section class="cds-box">
                <section class="cds-box-content">
                    <h2>
                        Basic Information
                        <section class="btn-group pull-right">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                            <a href="" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </a>
                        </section>
                    </h2>
                    <section class="alert alert-danger hidden cds-errors">
                    </section>
                    <section class="form-group">
                        <label for="fldUsername">Username</label>
                        <p class="form-control-static">
                          {{ user.username }}
                            <input type="hidden"
                                   name="username"
                                   value="{{user.username}}"/>
                        </p>
                    </section>
                    <section class="form-group">
                        <label for="fldEmail">Email</label>
                        <input type="email" class="form-control"
                               name="email"
                               id="fldEmail" placeholder="Email"
                               value="{{ user.email }}"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldFirstName">First Name</label>
                        <input type="text" class="form-control"
                               name="firstName"
                               id="fldFirstName" placeholder="First Name"
                               value="{{ user.firstName }}"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldLastName">Last Name</label>
                        <input type="text" class="form-control"
                               name="lastName"
                               id="fldLastName" placeholder="Last Name"
                               value="{{ user.lastName }}"/>
                        <span class="help-block"></span>
                    </section>
                </section>
                <hr/>
                <section class="cds-box-content">
                    <section class="form-group">
                        <label for="fldPassword">Password</label>
                        <input type="password" class="form-control"
                               name="password"
                               id="fldPassword" placeholder="Password"/>
                        <span class="help-block"></span>
                    </section>
                    <section class="form-group">
                        <label for="fldConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control"
                               name="confirmPassword"
                               id="fldConfirmPassword" placeholder="Confirm Password"/>
                        <span class="help-block"></span>
                    </section>
                </section>
            </section>
        </section>
        <section class="col-lg-6">
            <section class="cds-box">
                <section class="cds-box-content">
                    <h2>Permissions</h2>
                    <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                           id="cds-list-profilePermissions">
                        <thead>
                        <tr>
                            <th class="cds-permission">Permissions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each user.permissions}}
                            <tr>
                                <td class="cds-permission">
                                  {{permission}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
</form>

