{{!< general}}
{{#contentFor "title"}}List Permissions{{/contentFor}}
<h1>
    List Permissions
</h1>
<section class="row">
    <section class="col-lg-12">
        <section class="cds-box">
            <section class="cds-box-content">
                <table class="table cds-table table-responsive table-striped table-hover cds-datatables"
                       id="cds-list-permissions">
                    <thead>
                    <tr>
                        <th class="cds-base">Base</th>
                        <th class="cds-module">Module</th>
                        <th class="cds-section">Section</th>
                        <th class="cds-permission">Permission</th>
                        <th class="cds-value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each permissions}}
                        <tr>
                            <td class="cds-base">
                              {{base}}
                            </td>
                            <td class="cds-module">
                              {{module}}
                            </td>
                            <td class="cds-section">
                              {{section}}
                            </td>
                            <td class="cds-permission">
                              {{permission}}
                            </td>
                            <td class="cds-value">
                              {{value}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</section>
